<header class="w-screen  ">
<div class="flex  p-5" >
  <ul class="flex mx-5">
    <li class="mx-5">
      home
    </li >
    <li class="mx-5">
      products
    </li>
    <li class="mx-5">
      about ussssssss
    </li>
  </ul>
  <div class="relative">
    <input type="email" class="w-full py-2 px-4 rounded-4xl border border-solid focus:outline-none" [formControl]="emailFormControl" placeholder="Search">
    <div class="absolute inset-y-0 right-0 flex items-center pr-3">
      <img width="15px" height="15px" src="assets/icons/search.png">
    </div>
  </div>
</div>
</header>
